In [1]:
import os
print(os.getcwd())

C:\Users\gipah\OneDrive\Desktop\DataEngineering\space-data-pipeline\notebooks

In [2]:
import sys
from pathlib import Path

PROJECT_ROOT = Path("..").resolve()
sys.path.append(str(PROJECT_ROOT))

from etl.pipeline import run_pipeline
run_pipeline()

[ETL] Starting run_id=20260121_004957
[ETL] raw=C:\Users\gipah\OneDrive\Desktop\DataEngineering\space-data-pipeline\data\raw
[ETL] staging=C:\Users\gipah\OneDrive\Desktop\DataEngineering\space-data-pipeline\data\staging
[ETL] curated=C:\Users\gipah\OneDrive\Desktop\DataEngineering\space-data-pipeline\data\curated
[ETL] Extracted: [WindowsPath('C:/Users/gipah/OneDrive/Desktop/DataEngineering/space-data-pipeline/data/raw/exoplanets_messy.csv')]
[ETL] Staging: [WindowsPath('C:/Users/gipah/OneDrive/Desktop/DataEngineering/space-data-pipeline/data/staging/exoplanets_staging.csv')]
[ETL] Curated: [WindowsPath('C:/Users/gipah/OneDrive/Desktop/DataEngineering/space-data-pipeline/data/curated/exoplanets_curated.csv')]
[LOAD] Loaded 22 rows into C:\Users\gipah\OneDrive\Desktop\DataEngineering\space-data-pipeline\data\db\exoplanets.sqlite
[ETL] Done run_id=20260121_004957

In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../data/db/exoplanets.sqlite")
pd.read_sql("SELECT COUNT(*) FROM exoplanets", conn)

   COUNT(*)
0        22